<footer >
<p><%=current_year%><%=github_url('Qytiz','TestGuru')%></p>
<p>Project target is create platform to create and complete tests</p>
<p><a href="https://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</p>
</footer>