// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.fail{
    color:  red;
}
  
.pass{
  color:  green;
}
div.progress-bar{
  background-color: grey;
  height: 20px;
  width: 200px;
  .passed{
    background-color: green;
    height: 20px;
    border-right: 3px solid rgb(216, 200, 108);
  }
}
